/*
Name: Vanessa X
Student ID: A00913510
*/

@import 'reset.css';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* Requirement: Adding a color over original picture */
  background: #61aefe;
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

/* LINKS CSS */
h2 a{
  text-decoration: none;
}

h2 a:link{
  color:#555555;
}

h2 a:visited{
  color:#555555;
}

h2 a:hover{
  color:#111111;
  border-bottom-style: solid;
  border-color: #DCDCDC;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
  /* Requirement: BOX SHADOW */
  -webkit-box-shadow: 0px 0px 93px 5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 93px 5px rgba(255,255,255,1);
  box-shadow: 0px 0px 93px 5px rgba(255,255,255,1);
  /* Requirement: Gradient */
    /* IE10+ */
    background-image: -ms-linear-gradient(top right, #eaeaea 0%, #FFFFFF 50%, #eaeaea 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top right, #eaeaea 0%, #FFFFFF 50%, #eaeaea 100%);

    /* Opera */
    background-image: -o-linear-gradient(top right, #eaeaea 0%, #FFFFFF 50%, #eaeaea 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #eaeaea), color-stop(50, #FFFFFF), color-stop(100, #eaeaea));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top right, #eaeaea 0%, #FFFFFF 50%, #eaeaea 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom left, #eaeaea 0%, #FFFFFF 50%, #eaeaea 100%);
}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333
    url("https://getwebinc.com/uploads/services/web-development-1479472214.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* Section B*/

#section-b{
  padding: 2em 1em 1em;
}

#section-b ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li{
  margin-bottom: 1em;
  background: #fff;
  color: #333;
  /* Requirement: Border-Radius */
  border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  border: 0px solid #ffffff;
}

.card-content {
  padding: 1.5em;
}

/* Requirement: Text-Shadow */
.card-content .card-title{
  text-shadow: 0px 0px 27px rgba(255, 0, 114, 0.57);
}

/* Section C */

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style-type: none; }
ol {
  list-style-type: none; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

/* Section D*/

#section-d{
  padding: 2em 1em 1em;
}

#section-d ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-d li{
  margin-bottom: 1em;
  background: #fff;
  color: #333;
  /* Requirement: Border-Radius */
  border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  border: 0px solid #ffffff;
}

.card-content {
  padding: 1.5em;
}

/* Requirement: Text-Shadow */
.card-content .card-title{
  text-shadow: 0px 0px 27px rgba(248, 199, 221, 0.57);
}


/* Footer */

#container-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#container-footer a {
  color: #2690d4;
  text-decoration: none;
}

/***** REQUIREMENT: NEW FEATURE: RUBY - describe properties to manipulate the position of "ruby" (small annotation on top of or next to words).
IE and Firefox do not appear to have support for nested ruby structures
HTML: ruby, rb, rt, rp
*****/

ruby{
  ruby-position: over;
}

rb{
  font-size: 1em;
}

rt{
  font-size: 0.90em;
}


/* Media Queries for FULL SCREEN CLIENTS && MOBILE CLIENTS */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul, #section-d ul {
    grid-column: 2/4;
  }

  .box,
  #container-footer div {
    grid-column: span 2;
  }

  #section-b ul, #section-d ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  #section-b li, #section-d li{
    width: 31%;
  }
}

.content-wrap h2.content-title {
  text-align: left;
  padding: 0;
  font-weight: bold;
}

.content-wrap p {
  text-align: left;
  padding: 0;
}

/*Print Media Queries Styles*/
@media print {
  header { display:none;}
  nav {display:none;}
  footer {display: none;}
  body {
      font: 8pt Georgia, "Times New Roman", Times, serif;
      line-height: 1;
      color:black;
      }
  /* black serif text is ideal for printouts */

  #section-b a img, #section-d a img{
    display: none;
  }
  a[href^="http"]:after {
          content: "(" attr(href) ")";
          font-size: 1em;
          }
  a{color: black;}
  a:link, a:visited {
    /* if using color, make it dark! */
    color: black;
    /* make link text stand out */
    text-decoration: underline;
    font-weight: bold;
  }
  /* never end a page with a heading! */
  h2, h2, h4, h5, h6{ 	page-break-after: avoid;	}
  #content, #endpage, #startpage {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    text-shadow:        none;
  }
}
